<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">Fields</h1>

    <div class="col-sm-6">
      <div class="table-responsive">
        <table class="table table-condensed table-hover table-striped">
          <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Label</th>
            <th>Help Text</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let field of fields">
            <td [innerHtml]="field.id"></td>
            <td [innerHtml]="field.name"></td>
            <td [innerHtml]="FieldTypes[field.type]"></td>
            <td [innerHtml]="field.label"></td>
            <td [innerHtml]="field.help"></td>
            <td>
              <button type="button" class="btn btn-default btn-xs" (click)="edit(field)">Edit</button>
              <button type="button" class="btn btn-danger btn-xs" (click)="delete(field)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-6">
      <app-field-form (onSave)="onSave()" [field]="fieldToEdit"></app-field-form>
    </div>
  </div>
</div>
