<form [formGroup]="form" (ngSubmit)="save(form.value, form.valid)" novalidate>
  <div class="form-group" [ngClass]="{'has-error':!form.controls['name'].valid && form.controls['name'].touched}">
    <label for="name">Name</label>
    <input type="text"
           class="form-control"
           name="name"
           id="name"
           placeholder="Name"
           required
           [formControl]="form.controls['name']">
    <p class="help-block text-danger"
       [hidden]="form.controls['name'].valid || form.controls['name'].pristine || !submitted ">
      The name should be between 5 and 50 characters.
    </p>
  </div>

  <div class="form-group">
    <label for="type">Type</label>
    <select class="form-control" id="type" name="type" [formControl]="form.controls['type']">
      <option *ngFor="let key of fieldTypes" [value]="FieldTypes[key]" [innerHtml]="key"></option>
    </select>
  </div>

  <div class="form-group" [ngClass]="{'has-error':!form.controls['label'].valid && form.controls['label'].touched}">
    <label for="Name">Label</label>
    <input type="text"
           class="form-control"
           name="label"
           id="label"
           placeholder="Label"
           required
           [formControl]="form.controls['label']">
    <p class="help-block text-danger"
       [hidden]="form.controls['label'].valid || form.controls['label'].pristine || !submitted ">
      The label should be between 5 and 50 characters.
    </p>
  </div>

  <div class="form-group" [ngClass]="{'has-error':!form.controls['help'].valid && form.controls['help'].touched}">
    <label for="Name">Help Text</label>
    <textarea
      class="form-control"
      name="help"
      id="help"
      placeholder="Help Text"
      [formControl]="form.controls['help']"></textarea>
  </div>

  <button type="submit" class="btn btn-default" [disabled]="!form.valid">
    Save
  </button>
</form>
