<form [formGroup]="form" (ngSubmit)="save(form.value)" novalidate>
  <div class="form-group" [ngClass]="{'has-error':!form.get('name').valid && form.get('name').touched}">
    <label for="name">Name</label>
    <input type="text"
           class="form-control"
           name="name"
           id="name"
           placeholder="Name"
           required
           [formControl]="form.get('name')">
    <p class="help-block text-danger"
       [hidden]="form.get('name').valid || form.get('name').pristine || !submitted ">
      The name should be between 5 and 50 characters.
    </p>
  </div>

  <div class="form-group">
    <label for="type">Type</label>
    <select class="form-control" id="type" name="type" [formControl]="form.get('type')">
      <option *ngFor="let key of fieldTypes" [value]="FieldTypes[key]" [innerHtml]="key"></option>
    </select>
  </div>

  <div class="form-group" [ngClass]="{'has-error':!form.get('label').valid && form.get('label').touched}">
    <label for="Name">Label</label>
    <input type="text"
           class="form-control"
           name="label"
           id="label"
           placeholder="Label"
           required
           [formControl]="form.get('label')">
    <p class="help-block text-danger"
       [hidden]="form.get('label').valid || form.get('label').pristine || !submitted ">
      The label should be between 5 and 50 characters.
    </p>
  </div>

  <div class="form-group" [ngClass]="{'has-error':!form.get('help').valid && form.get('help').touched}">
    <label for="Name">Help Text</label>
    <textarea
      class="form-control"
      name="help"
      id="help"
      placeholder="Help Text"
      [formControl]="form.get('help')"></textarea>
  </div>

  <button type="submit" class="btn btn-default" [disabled]="!form.valid">
    Save
  </button>
</form>
