<div class="container">
  <div class="row">
    <div class="col-xs-12">
            <ul class="nav nav-pills">
        <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['/field']">Field</a></li>
        <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['/form']">Form</a></li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

