<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">Submitted Data</h1>
    <p class="help-block">
      These data has been submitted throw the dynamically generated form. Try it
      <a [routerLink]="['/form']">here</a>.<br/>
      You can add more fields to this form <a [routerLink]="['/field']">Fields</a>here.<br/>
    </p>

    <div class="table-responsive">
      <table class="table table-condensed table-hover table-striped">
        <thead>
        <tr>
          <th *ngFor="let field of fields" [innerHtml]="field.label"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of data">
          <td *ngFor="let field of fields" [innerHtml]="row[field.name]"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
